# Data Cleaning Appendix
 __________________________________________________________________________________________________________

In [1]:
import pandas as pd
import json
import matplotlib.pyplot as plt

## Data Cleaning

### Dataset #1: Mental Health Tracking data

In [2]:
mentalhealth_data = pd.read_csv('Indicators_of_Anxiety_or_Depression_Based_on_Reported_Frequency_of_Symptoms_During_Last_7_Days.csv')
mentalhealth_data.head() #to show uncleaned data

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,23.5,22.7,24.3,22.7 - 24.3,NaN
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,32.7,30.2,35.2,30.2 - 35.2,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,25.7,24.1,27.3,24.1 - 27.3,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,24.8,23.3,26.2,23.3 - 26.2,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,1,Apr 23 - May 5,04/23/2020 12:00:00 AM,05/05/2020 12:00:00 AM,23.2,21.5,25.0,21.5 - 25.0,NaN

In [3]:
mentalhealth_data['Time Period Start Date'] = pd.to_datetime(arg = mentalhealth_data['Time Period Start Date'], format = "%m/%d/%Y %I:%M:%S %p") 
mentalhealth_data['Time Period End Date'] = pd.to_datetime(arg = mentalhealth_data['Time Period End Date'], format = "%m/%d/%Y %I:%M:%S %p") 

mentalhealth_data = mentalhealth_data.rename(columns = {'Time Period Start Date': 'time_start', 'Time Period End Date': 'time_end', 'State':'state', 'Time Period': 'period'})
mentalhealth_data = mentalhealth_data.drop(columns = ['Quartile Range', 'Confidence Interval'])
mentalhealth_data.head() #Final cleaned mental health data

,Indicator,Group,state,Subgroup,Phase,period,Time Period Label,time_start,time_end,Value,Low CI,High CI
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1,Apr 23 - May 5,2020-04-23,2020-05-05,23.5,22.7,24.3
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,1,Apr 23 - May 5,2020-04-23,2020-05-05,32.7,30.2,35.2
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,1,Apr 23 - May 5,2020-04-23,2020-05-05,25.7,24.1,27.3
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,1,Apr 23 - May 5,2020-04-23,2020-05-05,24.8,23.3,26.2
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,1,Apr 23 - May 5,2020-04-23,2020-05-05,23.2,21.5,25.0

In [4]:
import matplotlib.pyplot as plt

### Dataset #2: Covid data by state

In [5]:
with open('states_hash.json') as datafile:         #Utilized stack overflow to learn how to import a json in jupyter lab
    state_convert = json.load(datafile)            #I downloaded this json that contains a dict with keys of state abbreviations and values of full state names
    
covid_data = pd.read_csv('all-states-history.csv')
covid_data       #to show you the original data

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-03-07,AK,305.0,NaN,0,NaN,1293.0,1293.0,33.0,0,...,1731628.0,0,NaN,NaN,NaN,NaN,NaN,0,1731628.0,0
1,2021-03-07,AL,10148.0,7963.0,-1,2185.0,45976.0,45976.0,494.0,0,...,2323788.0,2347,NaN,NaN,119757.0,NaN,2323788.0,2347,NaN,0
2,2021-03-07,AR,5319.0,4308.0,22,1011.0,14926.0,14926.0,335.0,11,...,2736442.0,3380,NaN,NaN,NaN,481311.0,NaN,0,2736442.0,3380
3,2021-03-07,AS,0.0,NaN,0,NaN,NaN,NaN,NaN,0,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2021-03-07,AZ,16328.0,14403.0,5,1925.0,57907.0,57907.0,963.0,44,...,7908105.0,45110,580569.0,NaN,444089.0,NaN,3842945.0,14856,7908105.0,45110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20775,2020-01-17,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20776,2020-01-16,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20777,2020-01-15,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20778,2020-01-14,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20779,2020-01-13,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [6]:
covid_data = covid_data[['date','state','deathIncrease','hospitalizedCurrently','positiveIncrease','totalTestResultsIncrease']] #filtered to get only relevant columns
covid_data = covid_data.rename(columns={'deathIncrease':'new_deaths','positiveIncrease':'new_positives','totalTestResultsIncrease': 'new_tests', 'hospitalizedCurrently':'hospitalized'})
covid_data = covid_data[336:17864] #This subsets the data to only include rows within the time period of the mental health dataset (Apr 23, 2020 - Mar 1, 2021)
covid_data = covid_data.iloc[::-1] #this method of reversing order of dataframe found through research on stack overflow. I did this so that dates go from
                                   #  past to current to match format of dataset #1

for state in covid_data.state:
    covid_data = covid_data.replace(to_replace = state, value = state_convert[state]) #replaced state abbreviations with full names to match dataset #1
    
covid_data.date = pd.to_datetime(arg = covid_data['date'], format = "%Y-%m-%d") 
covid_data = covid_data.sort_values(by = ['state', 'date']) # organizes rows both chronologically and by state alphabetically
covid_data = covid_data.reset_index(drop = True)

covid_data.head()     #showing what dataframe currently looks like

        date    state  new_deaths  hospitalized  new_positives  new_tests
0 2020-04-23  Alabama           3         406.0            313       3881
1 2020-04-24  Alabama           0         429.0             54         54
2 2020-04-25  Alabama          15         351.0            305      18649
3 2020-04-26  Alabama           4         384.0            133       2207
4 2020-04-27  Alabama           6         426.0            229        446

In [7]:
# In this section I am assinging each date in covid data a period to match mental health data depending on which period the date falls under
# To begin, I am getting a datatable from mentalhealth_data that will allow be to see which dates correspond to which periods
period = []
mh_by_period = mentalhealth_data.drop_duplicates('period')
mh_by_period = mh_by_period.set_index(mh_by_period['period']) #This will make period the index for easier accessing
mh_by_period.head()

,Indicator,Group,state,Subgroup,Phase,period,Time Period Label,time_start,time_end,Value,Low CI,High CI
period,,,,,,,,,,,,
1,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1,Apr 23 - May 5,2020-04-23,2020-05-05,23.5,22.7,24.3
2,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,2,May 7 - May 12,2020-05-07,2020-05-12,24.1,23.0,25.2
3,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,3,May 14 - May 19,2020-05-14,2020-05-19,24.4,23.7,25.2
4,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,4,May 21 - May 26,2020-05-21,2020-05-26,24.9,24.1,25.7
5,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,5,May 28 - June 2,2020-05-28,2020-06-02,25.3,24.7,25.8

In [8]:
covid_periods = []
for num in range(len(covid_data)):    #this loop creates a default list the same length as rows in covid_data so that I can later add a periods column to covid_data
    covid_periods.append(0)           #                                                                     just like there is a periods column in mentalhealth_data
    
for period in range(25):              # this loop will replace the zero in covid_periods with the period that row should fall under based on mental_health data, 
    for covid_row in range(len(covid_data.date)):              #               only if the date is within one of the provided periods. otherwise it is left as zero
        if mh_by_period.time_start[period+1] <= covid_data.date[covid_row] <= mh_by_period.time_end[period+1]:
            covid_periods[covid_row] = (period+1)

covid_data['period'] = covid_periods    #At this point the period for each day in covid_data will match the period for that day in mentalhealth_data. If that date 
                                        #                                                       is not in mentalhealth_data, there is simply a zero in that columm
covid_data.head(100)

,date,state,new_deaths,hospitalized,new_positives,new_tests,period
0,2020-04-23,Alabama,3,406.0,313,3881,1
1,2020-04-24,Alabama,0,429.0,54,54,1
2,2020-04-25,Alabama,15,351.0,305,18649,1
3,2020-04-26,Alabama,4,384.0,133,2207,1
4,2020-04-27,Alabama,6,426.0,229,446,1
...,...,...,...,...,...,...,...
95,2020-07-27,Alabama,18,1473.0,1821,8230,0
96,2020-07-28,Alabama,0,1598.0,1251,7369,0
97,2020-07-29,Alabama,47,1605.0,1416,2723,0
98,2020-07-30,Alabama,27,1512.0,1980,11776,0
99,2020-07-31,Alabama,15,1596.0,1961,9181,0

In [9]:
#In this section I will add the numeric values in the rows/dates that make up a time period to create a single row for each state/time period combo. 
#I only do this for nonzero period, because the default/unassinged time periods, represented by zeroes, do not all fall back to back, and so it would not 
#     make sense to add them.

nonzero_period = covid_data[covid_data.period != 0]           #This will create a subset of covid_data that ONLY includes dates that are also in mentalhealth_data
period_sums_no0 = nonzero_period.groupby(['period', 'state']).sum().reset_index()
print(len(period_sums_no0))

1400

In [10]:
#In this section, I will add a time_start column to the summed by time period covid_data to match the column in mentalhealth_data
time_starts = mentalhealth_data[mentalhealth_data.Group == 'By State']['time_start'].unique() #will show only one row for each time period in mentalhealth_data

period_time_dict = {}                                 #This will create a dictionary with periods as keys and time_start as values
for pos in range(len(time_starts)):
    period_time_dict[pos+1] = time_starts[pos]
    
timestart = []
for row in period_sums_no0.iterrows():           #This will use the above dictionary to put the correct time_start values in for each row
    timestart.append(period_time_dict[row[1]['period']])

period_sums_no0['time_start'] = timestart

period_sums_no0.head()

,period,state,new_deaths,hospitalized,new_positives,new_tests,time_start
0,1,Alabama,119,5884.0,2820,58006,2020-04-23
1,1,Alaska,0,255.0,36,10533,2020-04-23
2,1,American Samoa,0,0.0,0,80,2020-04-23
3,1,Arizona,166,9191.0,3846,44670,2020-04-23
4,1,Arkansas,41,1281.0,1220,24922,2020-04-23

In [11]:
period0 = covid_data[covid_data.period == 0].reset_index(drop = True) #create subset of covid_data with just the dates that aren't in mentalhealth_data
period0 = period0.rename(columns = {'date': 'time_start'})
period0

,time_start,state,new_deaths,hospitalized,new_positives,new_tests,period
0,2020-05-06,Alabama,27,485.0,296,2750,0
1,2020-05-13,Alabama,20,524.0,307,0,0
2,2020-05-20,Alabama,13,560.0,368,6884,0
3,2020-05-27,Alabama,6,607.0,447,2035,0
4,2020-06-03,Alabama,2,610.0,209,7495,0
...,...,...,...,...,...,...,...
3635,2021-01-04,Wyoming,0,114.0,372,12550,0
3636,2021-01-05,Wyoming,26,114.0,322,1193,0
3637,2021-01-19,Wyoming,28,88.0,214,13232,0
3638,2021-02-02,Wyoming,28,53.0,71,-4642,0
3639,2021-02-16,Wyoming,15,34.0,215,9778,0

In [12]:
all_period = pd.concat([period0, period_sums_no0]).reset_index(drop= True) #recombining 

#The following code adds a column of the percent positive cases in each time period (or day for period 0) by state. 

percents = []
for row in all_period.iterrows():          
    if all_period.new_tests[row[0]]!=0:
        percents.append((all_period.new_positives[row[0]]/all_period.new_tests[row[0]]).round(4))
    else:
        percents.append(0.0000)

all_period['percent_positive'] = percents
all_period

,time_start,state,new_deaths,hospitalized,new_positives,new_tests,period,percent_positive
0,2020-05-06,Alabama,27,485.0,296,2750,0,0.1076
1,2020-05-13,Alabama,20,524.0,307,0,0,0.0000
2,2020-05-20,Alabama,13,560.0,368,6884,0,0.0535
3,2020-05-27,Alabama,6,607.0,447,2035,0,0.2197
4,2020-06-03,Alabama,2,610.0,209,7495,0,0.0279
...,...,...,...,...,...,...,...,...
5035,2021-02-17,Virginia,1746,20176.0,23866,282096,25,0.0846
5036,2021-02-17,Washington,281,7517.0,11726,338278,25,0.0347
5037,2021-02-17,West Virginia,84,3627.0,3931,110146,25,0.0357
5038,2021-02-17,Wisconsin,226,4451.0,9282,390079,25,0.0238
5039,2021-02-17,Wyoming,9,346.0,1120,26238,25,0.0427

### Combining Datasets 1 and 2

In [13]:
master_data = mentalhealth_data.merge(right = all_period, how = 'outer', on = ['period', 'state', 'time_start'])
master_data.sample(20) #showing a random sample of 20 rows from final combined dataset

,Indicator,Group,state,Subgroup,Phase,period,Time Period Label,time_start,time_end,Value,Low CI,High CI,new_deaths,hospitalized,new_positives,new_tests,percent_positive
5782,NaN,NaN,Colorado,NaN,NaN,0,NaN,2020-08-08,NaT,NaN,NaN,NaN,0.0,346.0,431.0,11352.0,0.0380
6589,NaN,NaN,Kansas,NaN,NaN,0,NaN,2020-12-30,NaT,NaN,NaN,NaN,193.0,767.0,6371.0,15419.0,0.4132
7310,NaN,NaN,Nebraska,NaN,NaN,0,NaN,2021-01-05,NaT,NaN,NaN,NaN,10.0,527.0,585.0,5889.0,0.0993
1045,Symptoms of Anxiety Disorder,By State,Wisconsin,Wisconsin,1,5,May 28 - June 2,2020-05-28,2020-06-02,22.7,19.3,26.3,68.0,2445.0,2642.0,71794.0,0.0368
7083,NaN,NaN,Mississippi,NaN,NaN,0,NaN,2020-08-09,NaT,NaN,NaN,NaN,22.0,1151.0,527.0,527.0,1.0000
8413,NaN,NaN,Tennessee,NaN,NaN,0,NaN,2021-01-03,NaT,NaN,NaN,NaN,55.0,3371.0,4165.0,15364.0,0.2711
7752,NaN,NaN,North Dakota,NaN,NaN,0,NaN,2020-12-23,NaT,NaN,NaN,NaN,5.0,118.0,270.0,3249.0,0.0831
4315,Symptoms of Anxiety Disorder,By State,Alabama,Alabama,3 (Oct 28 � Dec 21),21,Dec 9 - Dec 21,2020-12-09,2020-12-21,39.1,34.1,44.2,447.0,29803.0,48167.0,126211.0,0.3816
6333,NaN,NaN,Idaho,NaN,NaN,0,NaN,2021-01-03,NaT,NaN,NaN,NaN,12.0,352.0,1122.0,2523.0,0.4447
3917,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Delaware,Delaware,3 (Oct 28 � Dec 21),19,Nov 11 - Nov 23,2020-11-11,2020-11-23,35.9,30.8,41.2,30.0,1904.0,5099.0,88439.0,0.0577
3555,Symptoms of Depressive Disorder,By State,Nebraska,Nebraska,2,17,Oct 14 - Oct 26,2020-10-14,2020-10-26,21.8,19.0,25.0,74.0,4780.0,10958.0,138873.0,0.0789
3725,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Illinois,Illinois,3 (Oct 28 � Dec 21),18,Oct 28 - Nov 9,2020-10-28,2020-11-09,41.8,37.1,46.6,725.0,47174.0,110862.0,1080774.0,0.1026
1831,Symptoms of Anxiety Disorder,By State,New Mexico,New Mexico,1,9,June 25 - June 30,2020-06-25,2020-06-30,32.2,27.5,37.3,17.0,745.0,1157.0,36076.0,0.0321
7976,NaN,NaN,Oregon,NaN,NaN,0,NaN,2020-07-23,NaT,NaN,NaN,NaN,0.0,231.0,254.0,17978.0,0.0141
9063,NaN,NaN,Virgin Islands,NaN,NaN,10,NaN,2020-07-02,NaT,NaN,NaN,NaN,0.0,0.0,26.0,333.0,0.0781
8263,NaN,NaN,South Carolina,NaN,NaN,0,NaN,2020-09-01,NaT,NaN,NaN,NaN,37.0,894.0,854.0,4854.0,0.1759
6616,NaN,NaN,Kentucky,NaN,NaN,0,NaN,2020-07-28,NaT,NaN,NaN,NaN,10.0,584.0,525.0,10185.0,0.0515
6836,NaN,NaN,Maryland,NaN,NaN,0,NaN,2020-10-13,NaT,NaN,NaN,NaN,9.0,402.0,482.0,18713.0,0.0258
1251,Symptoms of Depressive Disorder,By State,West Virginia,West Virginia,1,6,June 4 - June 9,2020-06-04,2020-06-09,27.9,22.3,34.1,6.0,158.0,98.0,10473.0,0.0094
5381,NaN,NaN,Alabama,NaN,NaN,0,NaN,2020-07-28,NaT,NaN,NaN,NaN,0.0,1598.0,1251.0,7369.0,0.1698

### Dataset #3: Covid Demographic Data (Age & Race)

In [14]:
demographic_data = pd.read_csv('Covid-19_Case.csv')
demographic_data.sample(6) #to show uncleaned demographic data

/Applications/anaconda3/envs/info2950/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3156: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
13813752,2020-12,AZ,4.0,MOHAVE,4015.0,50 to 64 years,Female,Missing,Unknown,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
4703098,2020-10,OH,39.0,FRANKLIN,39049.0,18 to 49 years,Female,White,Non-Hispanic/Latino,NaN,0.0,Clinical evaluation,Unknown,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes
3278051,2021-02,NY,36.0,NASSAU,36059.0,18 to 49 years,Male,White,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,NaN
11884244,2021-01,OK,40.0,CADDO,40015.0,18 to 49 years,NaN,NaN,NaN,NaN,NaN,Missing,Missing,Probable Case,Unknown,Unknown,Missing,No,NaN
14289263,2021-01,IL,17.0,COOK,17031.0,18 to 49 years,Female,White,Unknown,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
9743208,2020-11,IL,17.0,COOK,17031.0,18 to 49 years,Female,White,Non-Hispanic/Latino,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [15]:
demographic_data = demographic_data[(pd.to_datetime(demographic_data.case_month)>=pd.to_datetime('2020-04'))]
demographic_data = demographic_data[(pd.to_datetime(demographic_data.case_month)<pd.to_datetime('2021-03'))]
demographic_data = demographic_data.rename(columns={'death_yn':'new_deaths','hosp_yn':'hospitalized','age_group':'Subgroup'})
demographic_data['hospitalized'] = pd.get_dummies(demographic_data['hospitalized'])['Yes']
demographic_data['new_deaths'] = pd.get_dummies(demographic_data['new_deaths'])['Yes']
demographic_data['new_positives'] = 1 #Since each row in dataset represents an indivivual who tested positive, this
                                      #  column will allow us to later tally positive cases
    
#The above code gets rid of columns we don't need, renames columns to be compatible with the mentalhealth dataset 
# and creates numberic values for hospitalizations, deaths, and cases so that they can be counted later on.
demographic_data.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,Subgroup,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hospitalized,icu_yn,new_deaths,underlying_conditions_yn,new_positives
3,2020-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Routine surveillance,Missing,Laboratory-confirmed case,Asymptomatic,0,No,0,Yes,1
4,2020-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Routine surveillance,Missing,Laboratory-confirmed case,Missing,0,Missing,0,Yes,1
5,2020-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Other,Yes,Laboratory-confirmed case,Asymptomatic,0,Missing,0,NaN,1
6,2020-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Missing,Yes,Laboratory-confirmed case,Asymptomatic,0,Missing,0,NaN,1
7,2020-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Other,Yes,Laboratory-confirmed case,Asymptomatic,0,No,0,NaN,1

#### Age Data

In [16]:
age_data = demographic_data[['case_month', 'Subgroup', 'hospitalized', 'new_deaths','new_positives']]
age_data = age_data.dropna(subset = ['Subgroup'])
age_data = age_data[(age_data.Subgroup != 'Missing') & (age_data.Subgroup != '0 - 17 years')]

#removes unnecessary columns, rows with no age group or age group out of range (although this info could potentially 
#still tell us something, we do not have mental health data for "missing" age groups or individuals under age 18, 
#and so it could not be combined with our main mental health dataset)

age_data.loc[age_data['Subgroup'] != '18 to 49 years', 'Subgroup'] = '50+'
age_data.loc[age_data['Subgroup'] == '18 to 49 years', 'Subgroup'] = '18 - 49'

#combines the 50-64 age group and 65+ into one age group of 50+ so that it is compatible with mental health data
#renames age groups for better merging later

age_data.head() #show what data currently looks like

      case_month Subgroup  hospitalized  new_deaths  new_positives
28741    2020-04  18 - 49             1           0              1
28742    2020-04  18 - 49             0           0              1
28743    2020-04  18 - 49             1           0              1
28744    2020-04  18 - 49             0           0              1
28745    2020-04  18 - 49             0           0              1

In [17]:
age_data = age_data.groupby(['case_month', 'Subgroup']).sum().reset_index()
#adds up cases, deaths, and hospitalizations for each month/age group 

age_data #show current dataframe

   case_month Subgroup  hospitalized  new_deaths  new_positives
0     2020-04  18 - 49       26884.0       912.0         358458
1     2020-04      50+      100144.0     53583.0         384389
2     2020-05  18 - 49       15131.0       166.0         346465
3     2020-05      50+       38532.0     13916.0         258846
4     2020-06  18 - 49       16353.0       147.0         525074
5     2020-06      50+       33064.0      6336.0         260359
6     2020-07  18 - 49       22199.0       283.0         804866
7     2020-07      50+       52330.0     12620.0         412434
8     2020-08  18 - 49       12135.0        70.0         587567
9     2020-08      50+       34496.0      7378.0         315394
10    2020-09  18 - 49        9191.0        25.0         596316
11    2020-09      50+       29217.0      4189.0         323971
12    2020-10  18 - 49       14509.0        48.0         937727
13    2020-10      50+       52570.0     10626.0         599240
14    2020-11  18 - 49       29040.0       219.0        1846925
15    2020-11      50+      103972.0     30331.0        1181662
16    2020-12  18 - 49       33629.0       972.0        2521454
17    2020-12      50+      134463.0     50206.0        1675033
18    2021-01  18 - 49       24737.0       488.0        2037095
19    2021-01      50+      103664.0     29281.0        1327898
20    2021-02  18 - 49       11133.0        31.0         802429
21    2021-02      50+       40306.0      4828.0         505924

In [18]:
by_age = master_data[master_data.Group == 'By Age'] 
#subset of mental health + covid data by state dataframe w/mental health value by age group

by_age.head() #show what data looks like before adding covid numbers from age_data

,Indicator,Group,state,Subgroup,Phase,period,Time Period Label,time_start,time_end,Value,Low CI,High CI,new_deaths,hospitalized,new_positives,new_tests,percent_positive
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,1,Apr 23 - May 5,2020-04-23,2020-05-05,32.7,30.2,35.2,NaN,NaN,NaN,NaN,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,1,Apr 23 - May 5,2020-04-23,2020-05-05,25.7,24.1,27.3,NaN,NaN,NaN,NaN,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,1,Apr 23 - May 5,2020-04-23,2020-05-05,24.8,23.3,26.2,NaN,NaN,NaN,NaN,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,1,Apr 23 - May 5,2020-04-23,2020-05-05,23.2,21.5,25.0,NaN,NaN,NaN,NaN,NaN
5,Symptoms of Depressive Disorder,By Age,United States,60 - 69 years,1,1,Apr 23 - May 5,2020-04-23,2020-05-05,18.4,17.0,19.7,NaN,NaN,NaN,NaN,NaN

In [19]:
by_age = by_age.copy()
by_age.loc[by_age['Subgroup'] == '18 - 29 years', 'Subgroup'] = '18 - 49'
by_age.loc[by_age['Subgroup'] == '30 - 39 years', 'Subgroup'] = '18 - 49'
by_age.loc[by_age['Subgroup'] == '40 - 49 years', 'Subgroup'] = '18 - 49'
by_age.loc[by_age['Subgroup'] == '40 - 49 years', 'Subgroup'] = '50+'
by_age.loc[by_age['Subgroup'] == '50 - 59 years', 'Subgroup'] = '50+'
by_age.loc[by_age['Subgroup'] == '60 - 69 years', 'Subgroup'] = '50+'
by_age.loc[by_age['Subgroup'] == '70 - 79 years', 'Subgroup'] = '50+'
by_age.loc[by_age['Subgroup'] == '80 years and above', 'Subgroup'] = '50+'
#places all age groups in categories of 18-49 or 50+ and renames age groups for merging w age_data

by_age = by_age.drop(columns = ['new_deaths', 'new_positives', 'hospitalized'])
#we will get these columns from age_data when we merge

by_age = by_age.groupby(['time_start', 'time_end','Group', 'state', 'Subgroup']).mean().reset_index()
by_age.head()
#gets mean mental health data/value for each age group and time period (these are times for mental health data 
# not months like in age_data. I will fix this in coming cells)

by_age.head()

,time_start,time_end,Group,state,Subgroup,period,Value,Low CI,High CI,new_tests,percent_positive
0,2020-04-23,2020-05-05,By Age,United States,18 - 49,1,35.244444,33.288889,37.211111,NaN,NaN
1,2020-04-23,2020-05-05,By Age,United States,50+,1,21.983333,19.558333,24.708333,NaN,NaN
2,2020-05-07,2020-05-12,By Age,United States,18 - 49,2,35.688889,32.900000,38.511111,NaN,NaN
3,2020-05-07,2020-05-12,By Age,United States,50+,2,19.866667,17.608333,22.291667,NaN,NaN
4,2020-05-14,2020-05-19,By Age,United States,18 - 49,3,34.522222,32.466667,36.600000,NaN,NaN

In [20]:
month_col = []
for row in by_age.iterrows():
    start = row[1]['time_start']
    end = row[1]['time_end']
    time_range = pd.date_range(start = start, end = end)
   
    months = list(time_range.month)
    avg_month = round(sum(months)/(len(months)))
    
    years = list(time_range.year)
    avg_year = round(sum(years)/(len(years)))
    
    month_col.append('{}-{:02d}'.format(avg_year, avg_month))
by_age['case_month'] = month_col

# this loop assigns each time period in the mental health data a month (case_month) based on which month the majority
# of the days in the given time period fall under. This will allow us to merge with age_data

by_age.head()

,time_start,time_end,Group,state,Subgroup,period,Value,Low CI,High CI,new_tests,percent_positive,case_month
0,2020-04-23,2020-05-05,By Age,United States,18 - 49,1,35.244444,33.288889,37.211111,NaN,NaN,2020-04
1,2020-04-23,2020-05-05,By Age,United States,50+,1,21.983333,19.558333,24.708333,NaN,NaN,2020-04
2,2020-05-07,2020-05-12,By Age,United States,18 - 49,2,35.688889,32.900000,38.511111,NaN,NaN,2020-05
3,2020-05-07,2020-05-12,By Age,United States,50+,2,19.866667,17.608333,22.291667,NaN,NaN,2020-05
4,2020-05-14,2020-05-19,By Age,United States,18 - 49,3,34.522222,32.466667,36.600000,NaN,NaN,2020-05

In [21]:
by_age = by_age.groupby(['case_month', 'Subgroup', 'Group']).mean().reset_index() #group by newly created case_month 
                                                                                #and average mental health values
                                                                                
by_age = by_age.drop(columns = ['period']) #this column no longer makes sense b/c it is categorical, but the previous
                                            #line treats it as numerical and takes a mean

by_age.head()

,case_month,Subgroup,Group,Value,Low CI,High CI,new_tests,percent_positive
0,2020-04,18 - 49,By Age,35.244444,33.288889,37.211111,NaN,NaN
1,2020-04,50+,By Age,21.983333,19.558333,24.708333,NaN,NaN
2,2020-05,18 - 49,By Age,35.416667,33.347222,37.519444,NaN,NaN
3,2020-05,50+,By Age,20.756250,18.360417,23.431250,NaN,NaN
4,2020-06,18 - 49,By Age,37.355556,35.441667,39.308333,NaN,NaN

In [22]:
age_merged = by_age.merge(right = age_data, how = 'outer', on = ['case_month', 'Subgroup'])
#merges mental health data for age with covid date for age

age_merged.head()

,case_month,Subgroup,Group,Value,Low CI,High CI,new_tests,percent_positive,hospitalized,new_deaths,new_positives
0,2020-04,18 - 49,By Age,35.244444,33.288889,37.211111,NaN,NaN,26884.0,912.0,358458
1,2020-04,50+,By Age,21.983333,19.558333,24.708333,NaN,NaN,100144.0,53583.0,384389
2,2020-05,18 - 49,By Age,35.416667,33.347222,37.519444,NaN,NaN,15131.0,166.0,346465
3,2020-05,50+,By Age,20.756250,18.360417,23.431250,NaN,NaN,38532.0,13916.0,258846
4,2020-06,18 - 49,By Age,37.355556,35.441667,39.308333,NaN,NaN,16353.0,147.0,525074

In [23]:
master_age = master_data.copy()
master_age = master_data[(master_data.Group!='By Age')&(master_data.Group!='By Education')&(master_data.Group!='By Gender')]
#removes gender and education since I am not using that
#removes existing age data so that we can append our merged data on instead

#master_age = master_age.rename(columns = {'hospitalizedCurrently':'hospitalized'})
master_age

,Indicator,Group,state,Subgroup,Phase,period,Time Period Label,time_start,time_end,Value,Low CI,High CI,new_deaths,hospitalized,new_positives,new_tests,percent_positive
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1,Apr 23 - May 5,2020-04-23,2020-05-05,23.5,22.7,24.3,NaN,NaN,NaN,NaN,NaN
10,Symptoms of Depressive Disorder,By Race/Hispanic ethnicity,United States,Hispanic or Latino,1,1,Apr 23 - May 5,2020-04-23,2020-05-05,29.4,26.8,32.1,NaN,NaN,NaN,NaN,NaN
11,Symptoms of Depressive Disorder,By Race/Hispanic ethnicity,United States,"Non-Hispanic white, single race",1,1,Apr 23 - May 5,2020-04-23,2020-05-05,21.4,20.6,22.1,NaN,NaN,NaN,NaN,NaN
12,Symptoms of Depressive Disorder,By Race/Hispanic ethnicity,United States,"Non-Hispanic black, single race",1,1,Apr 23 - May 5,2020-04-23,2020-05-05,25.6,23.7,27.5,NaN,NaN,NaN,NaN,NaN
13,Symptoms of Depressive Disorder,By Race/Hispanic ethnicity,United States,"Non-Hispanic Asian, single race",1,1,Apr 23 - May 5,2020-04-23,2020-05-05,23.6,20.3,27.1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9149,NaN,NaN,District Of Columbia,NaN,NaN,25,NaN,2021-02-17,NaT,NaN,NaN,NaN,37.0,2543.0,1553.0,58825.0,0.0264
9150,NaN,NaN,Guam,NaN,NaN,25,NaN,2021-02-17,NaT,NaN,NaN,NaN,1.0,59.0,36.0,4150.0,0.0087
9151,NaN,NaN,Northern Mariana Islands,NaN,NaN,25,NaN,2021-02-17,NaT,NaN,NaN,NaN,0.0,0.0,9.0,9.0,1.0000
9152,NaN,NaN,Puerto Rico,NaN,NaN,25,NaN,2021-02-17,NaT,NaN,NaN,NaN,113.0,2652.0,2267.0,2267.0,1.0000
9153,NaN,NaN,Virgin Islands,NaN,NaN,25,NaN,2021-02-17,NaT,NaN,NaN,NaN,0.0,0.0,104.0,2739.0,0.0380

In [24]:
master_age = pd.concat([master_age, age_merged], join = 'outer').reset_index(drop = True)
#joins age data (covid and mental health) to main mental health dataset

master_age

,Indicator,Group,state,Subgroup,Phase,period,Time Period Label,time_start,time_end,Value,Low CI,High CI,new_deaths,hospitalized,new_positives,new_tests,percent_positive,case_month
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1.0,Apr 23 - May 5,2020-04-23,2020-05-05,23.500000,22.700000,24.300000,NaN,NaN,NaN,NaN,NaN,NaN
1,Symptoms of Depressive Disorder,By Race/Hispanic ethnicity,United States,Hispanic or Latino,1,1.0,Apr 23 - May 5,2020-04-23,2020-05-05,29.400000,26.800000,32.100000,NaN,NaN,NaN,NaN,NaN,NaN
2,Symptoms of Depressive Disorder,By Race/Hispanic ethnicity,United States,"Non-Hispanic white, single race",1,1.0,Apr 23 - May 5,2020-04-23,2020-05-05,21.400000,20.600000,22.100000,NaN,NaN,NaN,NaN,NaN,NaN
3,Symptoms of Depressive Disorder,By Race/Hispanic ethnicity,United States,"Non-Hispanic black, single race",1,1.0,Apr 23 - May 5,2020-04-23,2020-05-05,25.600000,23.700000,27.500000,NaN,NaN,NaN,NaN,NaN,NaN
4,Symptoms of Depressive Disorder,By Race/Hispanic ethnicity,United States,"Non-Hispanic Asian, single race",1,1.0,Apr 23 - May 5,2020-04-23,2020-05-05,23.600000,20.300000,27.100000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8118,NaN,By Age,NaN,50+,NaN,NaN,NaN,NaT,NaT,26.229167,23.745833,28.920833,50206.0,134463.0,1675033.0,NaN,NaN,2020-12
8119,NaN,By Age,NaN,18 - 49,NaN,NaN,NaN,NaT,NaT,41.011111,38.944444,43.072222,488.0,24737.0,2037095.0,NaN,NaN,2021-01
8120,NaN,By Age,NaN,50+,NaN,NaN,NaN,NaT,NaT,26.300000,24.012500,28.762500,29281.0,103664.0,1327898.0,NaN,NaN,2021-01
8121,NaN,By Age,NaN,18 - 49,NaN,NaN,NaN,NaT,NaT,40.172222,38.155556,42.216667,31.0,11133.0,802429.0,NaN,NaN,2021-02
8122,NaN,By Age,NaN,50+,NaN,NaN,NaN,NaT,NaT,24.200000,22.029167,26.516667,4828.0,40306.0,505924.0,NaN,NaN,2021-02

#### Getting Race Data

In [25]:
race_data = demographic_data[['case_month', 'race', 'ethnicity', 'hospitalized','new_deaths', 'new_positives']]
race_data = race_data.dropna(subset = ['race', 'ethnicity'], how = 'any')
race_data = race_data[(race_data.race!='Missing')|(race_data.ethnicity!='Missing')]
race_data = race_data[(race_data.race!='Unknown')|(race_data.ethnicity!='Unknown')]
race_data = race_data[(race_data.race!='Missing')|(race_data.ethnicity!='Unknown')]
race_data = race_data[(race_data.race!='Unknown')|(race_data.ethnicity!='Missing')]
#removes unnecessary columns, rows with no race or ethnicity data (although this info could potentially 
#still tell us something, we do not have mental health data for "missing" races or ethnicities
#and so it could not be combined with our main mental health dataset)

race_data.sample(7)

,case_month,race,ethnicity,hospitalized,new_deaths,new_positives
987636,2020-12,White,Hispanic/Latino,0,0,1
1331921,2021-01,White,Non-Hispanic/Latino,0,0,1
3205062,2020-11,White,Non-Hispanic/Latino,0,0,1
15057755,2020-11,White,Non-Hispanic/Latino,0,0,1
15997979,2020-12,White,Unknown,0,0,1
2746403,2020-11,American Indian/Alaska Native,Non-Hispanic/Latino,0,0,1
16561148,2020-12,White,Non-Hispanic/Latino,0,0,1

In [26]:
race_data.loc[race_data['race'] =='Multiple/Other', 'race'] = 'other'
race_data.loc[race_data['race'] =='American Indian/Alaska Native', 'race'] = 'other'
race_data.loc[race_data['race'] =='Native Hawaiian/Other Pacific Islander', 'race'] = 'other'
race_data.loc[race_data['ethnicity'] == 'Hispanic/Latino', 'race'] = 'hispanic'
#renames races to match races in mental health data

race_data = race_data.drop(columns = ['ethnicity'])
race_data = race_data[(race_data.race!='Missing')&(race_data.race!='Unknown')]
race_data = race_data.rename(columns = {'race':'Subgroup'})
race_data.Subgroup = race_data.Subgroup.str.lower()

race_data = race_data.groupby(['case_month', 'Subgroup']).sum().reset_index()
#adds up cases, deaths, and hospitalizations for each race

race_data.head()

  case_month  Subgroup  hospitalized  new_deaths  new_positives
0    2020-04     asian        4743.0      1652.0          17186
1    2020-04     black       25724.0      8072.0          92026
2    2020-04  hispanic       13394.0      2955.0          75884
3    2020-04     other        5060.0      1493.0          21946
4    2020-04     white       40638.0     26082.0         168357

In [27]:
by_race = master_data[master_data.Group == 'By Race/Hispanic ethnicity']
by_race = by_race.copy()
by_race.loc[by_race['Subgroup'] == 'Hispanic or Latino', 'Subgroup'] = 'hispanic'
by_race.loc[by_race['Subgroup'] == 'Non-Hispanic white, single race', 'Subgroup'] = 'white'
by_race.loc[by_race['Subgroup'] == 'Non-Hispanic black, single race', 'Subgroup'] = 'black'
by_race.loc[by_race['Subgroup'] == 'Non-Hispanic Asian, single race', 'Subgroup'] = 'asian'
by_race.loc[by_race['Subgroup'] == 'Non-Hispanic, other races and multiple races', 'Subgroup'] = 'other'
#renames races to be compatible for merging

by_race = by_race.drop(columns = ['new_deaths', 'new_positives', 'hospitalized'])
by_race = by_race.groupby(['time_start', 'time_end','Group', 'state', 'Subgroup']).mean().reset_index()
#gets mean mental health data/value for each race and time period (these are times for mental health data 
# not months like in race_data. I will fix this in coming cells)

In [28]:
month_col = []
for row in by_race.iterrows():
    start = row[1]['time_start']
    end = row[1]['time_end']
    time_range = pd.date_range(start = start, end = end)
   
    months = list(time_range.month)
    avg_month = round(sum(months)/(len(months)))
    
    years = list(time_range.year)
    avg_year = round(sum(years)/(len(years)))
    
    month_col.append('{}-{:02d}'.format(avg_year, avg_month))
by_race['case_month'] = month_col
# this loop assigns each time period in the mental health data a month (case_month) based on which month the majority
# of the days in the given time period fall under. This will allow us to merge with race_data

by_race.head()

,time_start,time_end,Group,state,Subgroup,period,Value,Low CI,High CI,new_tests,percent_positive,case_month
0,2020-04-23,2020-05-05,By Race/Hispanic ethnicity,United States,asian,1,27.266667,24.133333,30.533333,NaN,NaN,2020-04
1,2020-04-23,2020-05-05,By Race/Hispanic ethnicity,United States,black,1,32.433333,30.133333,34.800000,NaN,NaN,2020-04
2,2020-04-23,2020-05-05,By Race/Hispanic ethnicity,United States,hispanic,1,36.133333,33.300000,39.000000,NaN,NaN,2020-04
3,2020-04-23,2020-05-05,By Race/Hispanic ethnicity,United States,other,1,36.800000,32.966667,40.800000,NaN,NaN,2020-04
4,2020-04-23,2020-05-05,By Race/Hispanic ethnicity,United States,white,1,28.000000,27.166667,28.800000,NaN,NaN,2020-04

In [29]:
by_race = by_race.groupby(['case_month', 'Subgroup', 'Group']).mean().reset_index() 
#group by newly created case_month and find average mental health value for each month
by_race = by_race.drop(columns = ['period'])
by_race.head()

,case_month,Subgroup,Group,Value,Low CI,High CI,new_tests,percent_positive
0,2020-04,asian,By Race/Hispanic ethnicity,27.266667,24.133333,30.533333,NaN,NaN
1,2020-04,black,By Race/Hispanic ethnicity,32.433333,30.133333,34.800000,NaN,NaN
2,2020-04,hispanic,By Race/Hispanic ethnicity,36.133333,33.300000,39.000000,NaN,NaN
3,2020-04,other,By Race/Hispanic ethnicity,36.800000,32.966667,40.800000,NaN,NaN
4,2020-04,white,By Race/Hispanic ethnicity,28.000000,27.166667,28.800000,NaN,NaN

In [30]:
race_merged = by_race.merge(right = race_data, how = 'outer', on = ['case_month', 'Subgroup'])
#merge race mentalhealth data to race covid data
race_merged.sample(6)

,case_month,Subgroup,Group,Value,Low CI,High CI,new_tests,percent_positive,hospitalized,new_deaths,new_positives
48,2021-01,other,By Race/Hispanic ethnicity,40.833333,36.966667,44.783333,NaN,NaN,7793.0,781.0,215290
20,2020-08,asian,By Race/Hispanic ethnicity,25.466667,23.333333,27.700000,NaN,NaN,955.0,183.0,12379
26,2020-09,black,By Race/Hispanic ethnicity,32.550000,30.533333,34.600000,NaN,NaN,3573.0,154.0,63497
27,2020-09,hispanic,By Race/Hispanic ethnicity,36.783333,34.716667,38.866667,NaN,NaN,1609.0,291.0,61495
43,2020-12,other,By Race/Hispanic ethnicity,43.383333,39.933333,46.866667,NaN,NaN,9661.0,1440.0,259562
53,2021-02,other,By Race/Hispanic ethnicity,40.483333,37.233333,43.733333,NaN,NaN,2676.0,84.0,62717

In [31]:
master_age_race = master_age.copy()
master_age_race = master_age_race[master_age_race.Group!='By Race/Hispanic ethnicity']
#gets main mental health dataset without empty race rows b/c we'll join our covid and mental health data to this next

### Combining All Datasets

In [32]:
final_data = pd.concat([master_age_race, race_merged], join = 'outer')
final_data

,Indicator,Group,state,Subgroup,Phase,period,Time Period Label,time_start,time_end,Value,Low CI,High CI,new_deaths,hospitalized,new_positives,new_tests,percent_positive,case_month
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1.0,Apr 23 - May 5,2020-04-23,2020-05-05,23.500000,22.700000,24.300000,NaN,NaN,NaN,NaN,NaN,NaN
6,Symptoms of Anxiety Disorder,National Estimate,United States,United States,1,1.0,Apr 23 - May 5,2020-04-23,2020-05-05,30.800000,30.000000,31.700000,NaN,NaN,NaN,NaN,NaN,NaN
12,Symptoms of Anxiety Disorder or Depressive Dis...,National Estimate,United States,United States,1,1.0,Apr 23 - May 5,2020-04-23,2020-05-05,35.900000,35.000000,36.800000,NaN,NaN,NaN,NaN,NaN,NaN
18,Symptoms of Depressive Disorder,By State,Alabama,Alabama,1,1.0,Apr 23 - May 5,2020-04-23,2020-05-05,18.600000,14.600000,23.100000,119.0,5884.0,2820.0,58006.0,0.0486,NaN
19,Symptoms of Anxiety Disorder,By State,Alabama,Alabama,1,1.0,Apr 23 - May 5,2020-04-23,2020-05-05,25.600000,20.700000,30.900000,119.0,5884.0,2820.0,58006.0,0.0486,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,NaN,By Race/Hispanic ethnicity,NaN,asian,NaN,NaN,NaN,NaT,NaT,29.900000,26.916667,33.083333,213.0,2028.0,38255.0,NaN,NaN,2021-02
51,NaN,By Race/Hispanic ethnicity,NaN,black,NaN,NaN,NaN,NaT,NaT,36.083333,33.766667,38.466667,396.0,7106.0,117802.0,NaN,NaN,2021-02
52,NaN,By Race/Hispanic ethnicity,NaN,hispanic,NaN,NaN,NaN,NaT,NaT,37.133333,34.850000,39.500000,359.0,2932.0,104365.0,NaN,NaN,2021-02
53,NaN,By Race/Hispanic ethnicity,NaN,other,NaN,NaN,NaN,NaT,NaT,40.483333,37.233333,43.733333,84.0,2676.0,62717.0,NaN,NaN,2021-02
54,NaN,By Race/Hispanic ethnicity,NaN,white,NaN,NaN,NaN,NaT,NaT,32.116667,31.316667,32.966667,3098.0,23791.0,608232.0,NaN,NaN,2021-02

In [33]:
%store final_data
%store master_data

Stored 'final_data' (DataFrame)
Stored 'master_data' (DataFrame)